@use "sass:color";

$font-base: 'Montserrat', sans-serif;

$color-background: #fdfaf6;
$color-primary: #8b0000;
$color-secondary: #f5ede0;
$text-color: #222;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mqMinWidth: 420px;
